/*
font-family: 'Poppins', sans-serif;
*/

* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(135, 206, 235, 0.7);
  --purple: rgb(61, 25, 91);
  --turqoise: rgb(0, 255, 135);
  --gradient: linear-gradient(90deg, rgba(0, 255, 135, 1) 0%, rgba(61, 25, 91, 1) 100%);
  --p-1: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.m0 {
  margin: 0;
}

.p1 {
  padding: var(--p-1);
}

.logo--small {
  height: 100px;
  width: 100px;
  margin: 0 2rem 0 0;
  float: left;
}

.full-width-container {
  width: 100%;
}

.full-width-container--form {
  background-color: rgba(0, 0, 0, 0.2);
}

.row-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .row-flex-2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

.form-container {
  width: 100%;
}

.player-form {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
}

.form-submit {
  display: flex;
  justify-content: center;
}

#player-name {
  width: 100%;
  margin-bottom: 0;
}

.input-field {
  margin-top: 0;
  margin-right: 0;
}

button[data-submit-btn] {
  margin-top: 15px;
}

/* Rendered player name*/

.delete {
  font-size: 14px;
  cursor: pointer;
}

.flex-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 250px;
}

.box {
  width: 80%;
  background: rgba(240, 248, 255, 0.7) /*aliceblue*/;
  margin-top: 1rem;
  padding: 0.5rem;
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
  color: #000;
}

header {
  background: var(--gradient);
  padding-bottom: var(--p-1);
  margin-bottom: 0;
  min-height: 30vh;
}

.header__masthead {
  display: flex;
  justify-content: center;
}

.header__description {
  display: flex;
  justify-content: center;
}

main {
  /* background-color: rgba(135, 206, 235, 0.7); */
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  min-height: 80vh;
  margin-top: 0;
  width: 100%;
}

/* Player's area */
.container--body-grid {
  padding-top: 1rem;
  width: 55%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container--body {
  padding-top: 1rem;
  width: 55%;
  margin: 0 auto;
}

.players-list-container {
  background-color: rgba(135, 206, 235, 0.7);
  padding: 0.2rem 0.5rem 0.5rem 1rem;
  margin: 0 0 0.5rem 0;
}

.go-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.card {
  background-image: url("/crowd.jpg");
  background-size: cover;
  background-color: var(--turqoise);
  background-blend-mode: multiply;
  perspective: 1000px;
  transition: transform 1s cubic-bezier(0.26, 0.67, 1, 0.47);
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
}

.card.flip {
  transform: rotateY(-360deg);
}

/* Media Queries */
@media only screen and (max-width: 680px) {
  main {
    width: 90%;
  }

  .title--h1 {
    font-size: 3rem;
    color: white;
  }
}

footer {
  height: 8vh;
  text-align: center;
  margin: 0;
  background-color: var(--turqoise);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title--h1 {
  margin: 1rem 0;
  color: #fff;
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.4);
}

/* label color */
.input-field label {
  color: #000;
}
